<div class='table-responsive'>
  <table class="table table-bordered table-hover table-condensed custom-table">
    <thead >
      <%= render 'shared/list_headers', header: 'students_list_columns' %>
    </thead>  
    <tbody>
      <%= render @students %>
    </tbody>
  </table>
</div>
<%= render partial: 'shared/pagination', locals: {list_object: @students} %>
