<div class="jumbotron jumbotron-fluid " style="background-image: url('/assets/green.jpg');background-size: cover; margin-bottom: 0rem;">
	<div class="container">
	<br>
	<h1> School Management </h1>
	</div>	
</div>